<div>
  <ul class="nav">
    <li class="nav-item"><a href="tweets" class="nav-link">tweet</a></li>
    <li class="nav-item"><a href="users" class="nav-link">user</a></li>
  </ul>
</div>
<!-- Main Content -->
<div>
  <h1>Tweet Management</h1>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>description</td>
        <td>user</td>
        <td colspan="2"></td>
      </tr>
    </thead>
    <tbody>
      {{#each tweets }}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.description}}</td>
        <td>{{this.username}}</td>
        <td><a href="#">edit</a></td>
        <td><a href="#">delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>