<div class="row my-5">

  <div class="col-3">
    <div class="bg-white d-flex align-items-center justify-content-center" style="height: 150px; width:150px">
      <img src="{{user.avatar}}" alt="">
    </div>

    <h4 style="color:teal">{{user.name}}</h4>
    <p style="word-wrap: break-word; color:dodgerblue">{{user.introduction}}</p>
    <form action="/followships/{{user.id}}" method="POST">
      <button type="submit" class="btn btn-primary text-dark  font-weight-bold">Follow</button>
    </form>
  </div>

  <div class="col-9">

  </div>
</div>